.advantages {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 109px 0 0 0;

    @media (max-width: $tablet-width-only) {
      margin: 52px 0 0 0;
    }
  }

  h3 {
    margin: 16px 0 17px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $mainColor;

    @media (max-width: $tablet-width-only) {
      margin: 4px 0 10px;
    }
  }

  p {
    margin: 0;

    line-height: 22px;
    color: #666666;
  }

  svg {
    fill: $mainColor;
  }
}

.advantages li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 570px;
  height: 100%;
  min-height: 299px;
  max-width: 570px;

  box-sizing: border-box;
  padding: 38px 42px 65px;

  list-style: none;
  background-color: #ffffff;
  border: 1px #ebebeb solid;
  border-left: 3px $mainColor solid;

  &:hover,
  &:focus {
    background-color: $mainColor;
    border-left: 3px $mainColor solid;
    color: #ffffff;

    h3 {
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }

    svg {
      fill: #ffffff;
    }
  }

  &:not(:first-child) {
    margin-left: 34px;
  }

  @media (max-width: $tablet-width-only) {
    height: auto;
    min-height: 232px;
    width: 345px;
    padding: 23px 24px 18px 21px;
    margin-bottom: 29px;
  }
}

.advantages__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
