.block {
  background-image: url("../img/triangles-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 -108px;
  background-color: #ffffff;


  @media (max-width: $tablet-width-only) {
    background-image: url("../img/triangles-tablet.svg");
    background-size: 559px 876px;
    background-position: 101% 67px;
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/triangles-mobile.svg");
    background-size: 767px 937px;
    background-position: 50.8% 608px;
  }
}
