.button {
  box-sizing: border-box;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;
}

.button__header {
  padding: 14px 26px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.button__accent {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  background-color: $mainColor;
  border: 1px solid $mainColor;
}
