.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;

  color: #ffffff;
}

.form h3 {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
}

.form p {
  margin: 0 0 38px 0;

  @media (max-width: $tablet-width-only) {
    margin: 0 0 54px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 22px 0;
  }
}

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;

  @media (max-width: $tablet-width-only) {
    width: 590px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.form__required {
  display: flex;
  justify-content: space-between;
}

.form__required input {
  height: 50px;
  width: 269px;

  @media (max-width: $tablet-width-only) {
    height: 52px;
    width: 280px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.form__textarea textarea {
  resize: none;
}

.form__required input,
.form__textarea textarea {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #19baff;
  border: 1px solid #19baff;
  opacity: 80%;
  color: #000000;

  &::placeholder {
    color: #ffffff;
  }
}

.form__required input,
.form__required input::placeholder,
.form__textarea textarea,
.form__textarea textarea::placeholder {
  font-family: "PT Mono", "Courier", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form__submit {
  display: flex;
  justify-content: space-between;
}

.form__submit > input {
  padding: 14px 78px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $mainColor;
  }
}

.form__note {
  display: block;
  font-size: 14px;
  line-height: 16px;
  opacity: 80%;
}

.form__check label {
  cursor: pointer;
}

// custom checkbox

.form__check input {
  position: absolute;
  appearance: none;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  &.form__input--invalid + .form__tick {
    border: 1px solid #ff0000;
  }

  &:focus ~ .question-form__note, {
    text-decoration: underline;
  }
}

.form__tick {
  position: absolute;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #ffffff;

  &:hover,
  &:focus {
    border: 1px solid #000000;
  }
}

.form__check:hover,
.form__check:focus {
  & .form__tick {
    border: 1px solid #000000;
  }

  & .form__note {
    color: #000000;
  }
}

.form__check input:checked + .form__tick {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

// validation

.form__required input.form__input--invalid {
  border: 1px solid #ffffff;
}

.form__comment {
  position: absolute;
  margin-top: -16px;

  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
}
