.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 600px;
  min-height: 466px;

  color: #ffffff;

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 19.5%;
    top: 13.5%;
  }

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    padding: 80px 0 0 0;
    min-height: 478px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 290px;
    padding: 30px 0 0 0;
  }
}

.form h3 {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width-only) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 28px;
    line-height: 39px;
  }
}

.form__description {
  margin: 0 0 38px 0;

  @media (max-width: $tablet-width-only) {
    margin: 0 0 54px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 22px 0;
  }
}

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;

  @media (max-width: $tablet-width-only) {
    width: 590px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.form__required {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 134px;
  }
}

.form__textarea {
  margin-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
  }
}

.form__required input,
.form__textarea textarea {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #19baff;
  border: none;
  opacity: 80%;
  padding: 14px 16px;

  &:focus {
    outline: none;
  }

  @media (max-width: $tablet-width-only) {
    padding: 14px 24px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 7px 17px;
  }
}

.form__required input::placeholder,
.form__textarea textarea {
  color: #ffffff;
  font-family: "PT Mono", "Courier", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form__required input {
  height: 50px;
  width: 269px;

  @media (max-width: $tablet-width-only) {
    height: 52px;
    width: 280px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.form__textarea textarea {
  height: 154px;
  width: 570px;

  @media (max-width: $tablet-width-only) {
    height: 160px;
    width: 590px;
  }

  @media (max-width: $mobile-width-only) {
    height: 99px;
    width: 290px;
  }
}

.form__submit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: flex-start;
    height: 108px;
  }
}

.form__submit input {
  width: 270px;
  padding: 14px 78px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: $tablet-width-only) {
    width: 280px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.form__note {
  display: block;
  max-width: 230px;
  margin-left: 35px;

  font-size: 14px;
  line-height: 16px;
  opacity: 80%;
}

.form__check input {
  position: absolute;
  appearance: none;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.form__tick {
  position: absolute;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #ffffff;
}

.form__check input:checked + .form__tick {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
