.header {
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    max-width: 720px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 290px;
  }
}

.header__logo--cut {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo--full {
  min-width: 202px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
