.intro {
  position: relative;
  width: 100%;
  height: 878px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: #1b2d37;
  background-size: cover;

  @media (min-width: $desktop-width) {
    /*
    background-image: url("../img/bg-intro-desktop.png");
    */
  }

  @media (max-width: $tablet-width-only) {
    /*
    background-image: url("../img/bg-intro-tablet.png");
    */
  }

  @media (max-width: $mobile-width-only) {
    /*
    background-image: url("../img/bg-intro-mobile.png");
    */
  }
}

.intro__nav {
  display: flex;
  flex-direction: column;
  max-height: 760px;

  color: #ffffff;


  left: 13%;
  position: relative;
  top: 28.6%;
  max-width: 720px;
}

.intro__nav h2 {
  margin-bottom: 21px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 80%;

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-splashes-desktop.png");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/bg-splashes-tablet.png");
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/bg-splashes-mobile.png");
  }
}

.intro__nav p {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 70px;
  }
}

.intro__scroll {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  opacity: 0.5;
  transform: rotate(-90deg);
}

.intro__btn {
  padding: 17px 14px;
  max-width: 407px;
}

.intro__pic {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-intro-desktop.png");
    background-size: cover;
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/bg-intro-tablet.png");
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/bg-intro-mobile.png");
  }
}
