.intro {
  height: 879px;
  display: flex;
  justify-content: center;

  background-color: #1b2d37;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-intro-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-desktop@2x.png");
    }
  }

  @media (max-width: $tablet-width-only) {
    height: 686px;
    background-image: url("../img/bg-intro-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    height: auto;
    padding-bottom: 69px;
    background-image: url("../img/bg-intro-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile@2x.png");
    }
  }
}

.intro__nav {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1426px;
  width: 100%;

  margin-top: 317px;
  box-sizing: border-box;
  color: #ffffff;

  @media (min-width: 1450px) {
    padding: 0 708px 0 0;
  }

  @media (min-width: 1200px) and (max-width: 1450px) {
    padding: 0 40% 0 5%;
  }

  @media (min-width: 1024px) and (max-width: 1200px) {
    padding: 0 39% 0 4%;
  }

  @media (min-width: 900px) and (max-width: $tablet-width-only) {
    max-width: 470px;
    margin-top: 190px;
    min-width: 844px;
    padding-right: 288px;
  }

  @media (min-width: $tablet-width) and (max-width: 899px) {
    max-width: 470px;
    margin-top: 190px;
    min-width: 594px;
    padding-right: 124px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 470px;
    margin-top: 287px;
    min-width: 288px;
    padding: 0 16px;
  }
}

.intro__nav h2 {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $tablet-width-only) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 277px;
    font-size: 40px;
    line-height: 47px;
  }
}

.intro__nav p {
  position: relative;
  margin: 27px 0 43px 0;
  padding-left: 99px;

  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 56px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0.3rem;
    top: 1rem;

    height: 2px;
    width: 66px;
    background-color: #ffffff;

    @media (max-width: $tablet-width-only) {
      width: 33px;
    }
  }
}

.intro__feedback {
  display: flex;
}

.intro__scroll {
  display: flex;
  position: absolute;
  left: -2.4%;
  bottom: 23%;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.5;
  transform: rotate(-90deg);

  @media (max-width: 1500px) {
    left: 0.6%;
    bottom: 16%;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }

  &:focus,
  &:hover, {
    color: $mainColor;
  }
}

.intro__btn {
  max-width: 407px;
  margin-left: 98px;
  padding: 17px 43px;

  @media (max-width: $tablet-width-only) {
    max-width: 379px;
    margin-left: 50px;
    padding: 17px 30px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 17px 5px;
    width: 287px;
    margin: 0;
  }
}

.intro__btn--full-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.intro__btn--short-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__pic {
  position: absolute;
  top: 0;

  @media (max-width: 1700px) {
    top: 6%;
  }

  @media (max-width: 1500px) {
    top: 8%;
  }

  @media (max-width: 1300px) {
    top: 10%;
  }

  @media (max-width: 1200px) {
    top: 14%;
  }

  @media (min-width: $tablet-width) {
    height: auto;
  }

  @media (min-width: 320px) and (max-width: $tablet-width-only) {
    top: 0;
    right: 0;
  }
}

.intro__pic img {
  object-fit: cover;

  @media (max-width: $mobile-width-only) {
    width: 320px;
  }
}
