.logo a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 202px;

  @media (max-width: $mobile-width-only) {
    width: 210px;
  }
}

.logo__header {
  @media (max-width: $mobile-width-only) {
    width: 38px;
    height: 38px;
  }
}

.logo__sign {
  display: flex;
  flex-direction: column;
}

.logo__sign--none {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.logo__text {
  text-align: left;
}

.logo__text--title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  line-height: 29.3px;
}

.logo__text--light {
  color: #ffffff;
}

.logo__text--dark {
  color: #203c42;
}

.logo__text--moto {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14.06px;
  color: #788891;
}
