.main-contacts {
  display: flex;


  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0 46px;
    list-style: none;

    @media (max-width: $tablet-width-only) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      width: 80px;
      padding: 0;
    }

    @media (max-width: $tablet-width-only) {
      width: 76px;
    }
  }
}

.main-contacts li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 218px;
  box-sizing: border-box;
  height: 24px;
}

.main-contacts__link {
  display: inline-flex;
  flex-direction: row;

  color: #ffffff;
  line-height: 18px;

  @media (max-width: $tablet-width-only) {
    width: 100%;
  }
}

.main-contacts__icon {
  display: flex;

  padding: 0 22px 0 0;

  @media (max-width: $tablet-width-only) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 19px;
    height: 18px;
  }
}

.main-contacts__text {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
