.nav-bar {
  position: absolute;
  z-index: 1;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
  align-items: center;

  height: 52px;
  box-sizing: border-box;
  padding: 60px 8px 0;

  @media (max-width: $tablet-width-only) {
    padding: 40px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 18px 13px 0 17px;
  }
}

.nav-bar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
