.nav-bar {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
  align-items: center;

  width: 100%;
  max-width: 1461px;
  min-height: 52px;
  margin: 33px 0;
  padding: 0 25px;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    margin: 22px 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 17px 0;
    padding: 0 14px;
  }
}

.nav-bar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
