.nav-bar {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
  align-items: flex-start;

  width: 100%;
  min-height: 52px;
  margin: 33px 0;
  box-sizing: border-box;

  @media (min-width: 1920px) {
    padding: 0 13.2%;
  }

  @media (min-width: 1451px) and (max-width: 1919px) {
    padding: 0 6%;
  }

  @media (min-width: 1258px) and (max-width: 1450px) {
    padding: 0 5%;
  }

  @media (max-width: 1257px) {
    padding: 0 3%;
  }

  @media (max-width: $tablet-width-only) {
    margin: 20px 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 13px 0;
    padding: 0 17px;
  }
}

.nav-bar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
