.popup {
  display: none;
  position: relative;
  margin: 7% 0;

  z-index: 2;

  text-align: left;
  background-color: $mainColor;
}

.popup__show {
  display: flex;
}

.popup--nojs {
  display: block;
}
