.socials {
  height: auto;
  margin: 21px 0;

  @media (max-width: $mobile-width-only) {
    margin: 7px 0 35px 0;
  }

  & a {
    fill: #cdcdcd;

    &:focus,
    &:hover {
      fill: $mainColor;
    }
  }
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 116px;
  min-height: 28px;

  @media (max-width: $tablet-width-only) {
    width: 111px;
  }
}

.socials li {
  &:nth-child(3n+2) {
    padding: 0 15px;
  }
}
