.container {
  height: inherit;
  padding: 0 19.5%;

  @media (max-width: 1500px) {
    padding: 0 5%;
  }

  @media (max-width: $tablet-width-only) {
    padding: 0 3.3%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 5%;
  }
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
