.container {
  height: inherit;
  padding: 0 19.5%;

  @media (max-width: 1500px) {
    padding: 0 5%;
  }

  @media (max-width: $tablet-width-only) {
    padding: 0 3.3%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 5%;
  }
}

.content {
  max-width: 1920px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  margin: 0 auto;
}

.popup-outside {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}
